<ol class="breadcrumbs">
  <li>Best Practices</li>
  <li>Sparkles</li>
</ol>

<h2>Sparkles</h2>

<h3>Argument Defaults</h3>

<p>The glimmer VM doesn't provide @argument defaults - that is by design. To compensate this, use the <code>@arg</code> decorator from <a href="https://github.com/gossi/sparkles-decorators">sparkles-decorators</a>. For an example
see <a href="#element-reference">Element Reference</a> below.</p>

<h3 id="element-reference">Element Reference</h3>

<Tabs as |tabs|>
  <tabs.page @title="component.ts">
    <CodeSnippet @name="ui/routes/sparkles/-components/element-reference/component.ts"/>
  </tabs.page>

  <tabs.page @title="template.hbs">
    <CodeSnippet @name="ui/routes/sparkles/-components/element-reference/template.hbs"/>
  </tabs.page>
</Tabs>

<h4>Example</h4>

Taken the code from above.

<Tabs as |tabs|>
  <tabs.page @title="template.hbs">
    <CodeSnippet @name="sparkles/element-reference/template.hbs"/>
  </tabs.page>
  <tabs.page @title="HTML">
    <CodeSnippet @name="sparkles/element-reference/output.html"/>
  </tabs.page>
</Tabs>
