html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template:
    "header header" 120px
    "nav main"
    / 200px auto;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

.demo {
  display: grid;
  grid-template-columns: auto 300px;
}

.good {

}

.good h3 {
  color: #080;
}

.good h3::before {
  content: '✅ '
}

.bad h3 {
  color: #800;
}

.bad h3::before {
  content: '❌ '
}
