<section>
  <header>
    <ol class="breadcrumbs">
      <li>Patterns</li>
      <li>Container Components</li>
    </ol>

    <h2>Container Components</h2>
  </header>

  <article>
    <h3>Toggle Component</h3>

    <h3>References</h3>
    <ul>
      <li>Chan, M. (2015). <i>Container Components</i>. <a href="https://medium.com/@learnreact/container-components-c0e67432e005">https://medium.com/@learnreact/container-components-c0e67432e005</a></li>
    </ul>
  </article>
</section>