<section>
  <header>
    <ol class="breadcrumbs">
      <li>Best Practices</li>
      <li>Naming Conventions</li>
    </ol>

    <h2>Naming Conventions</h2>
  </header>

  <article>

    <h3>References</h3>
    <ul>
      <li>Haz, D. (2018). <i>Introducing the Single Element Pattern</i>. <a href="https://medium.freecodecamp.org/introducing-the-single-element-pattern-dfbd2c295c5d">https://medium.freecodecamp.org/introducing-the-single-element-pattern-dfbd2c295c5d</a></li>
    </ul>
  </article>
</section>