<section>
  <header>
    <ol class="breadcrumbs">
      <li>&nbsp;</li>
    </ol>

    <h2>Introduction</h2>
  </header>

  <article>
    <p>This little project is to collect information about component patterns in
    ember and derieved best practices.</p>

    <p>Most of this is work-in-progress and help is appreciated. What you can
    do:</p>

    <ul>
      <li><a href="https://github.com/gossi/shiny-components/issues/new" target="_blank">Open an issue</a> at github and ask for clarification of a page - what
      information is missing?</li>
      <li>Also <a href="https://github.com/gossi/shiny-components/issues/new"
      target="_blank">open an issue</a> and start a discussion for a particular
      topic which can be turned into a page here :)</li>
      <li>If you know a valuable reference, please add them. Open a PR right
      away.</li>
      <li>A really bold move would be to open a PR and write some pages 😱</li>
    </ul>

    <p>PS. The web was created to share information, the design of this page is
    an hommage to that era - and I love it!</p>

    <p>- <a href="https://github.com/gossi" target="_blank">gossi</a></p>
  </article>
</section>