<ol class="breadcrumbs">
  <li>Patterns</li>
  <li>Component Types</li>
</ol>

<h2>Component Types</h2>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Smart or Dumb?</th>
      <th>Yields ?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{#link-to 'patterns.presentational-components'}}Presentational Component{{/link-to}}</td>
      <td>dumb</td>
      <td>no</td>
    </tr>
    <tr>
      <td>{{#link-to 'patterns.contextual-components'}}Contextual Components{{/link-to}}</td>
      <td>depends</td>
      <td>yes</td>
    </tr>
    <tr>
      <td>{{#link-to 'patterns.container-components'}}Container Components{{/link-to}}</td>
      <td>smart</td>
      <td>no</td>
    </tr>
    <tr>
      <td>{{#link-to 'patterns.high-order-components'}}Composable Components / High-Order-Components{{/link-to}}</td>
      <td>smart</td>
      <td>yes</td>
    </tr>
  </tbody>
</table>

<h3>References</h3>

<ul>
  <li>Kwaśniak, M. (2018). <i>Components patterns in Ember.js</i>. <a href="https://medium.com/macsour/components-patterns-in-ember-js-5e6fc6eea28f">https://medium.com/macsour/components-patterns-in-ember-js-5e6fc6eea28f</a>.</li>
</ul>