<section>
  <header>
    <ol class="breadcrumbs">
      <li>Best Practices</li>
      <li>Component Classification</li>
    </ol>

    <h2>Component Classification <span class="wip"></span></h2>
  </header>

  <article>

    <h3>Introduction</h3>
    Based on <a href="http://atomicdesign.bradfrost.com/chapter-2/">Atom Design</a> and the <a href="https://medium.freecodecamp.org/introducing-the-single-element-pattern-dfbd2c295c5d">Single Element Pattern</a> components can be classified as
    atoms, molecules, organism, primitives, shells up to elements. The approach for both systems is similar, the wording is different. I will use their approach and come up with a naming that works within ember and also connects to the patterns
    described here.

    <h3>Classification</h3>

    <dl>
      <dt>Atoms</dt>
      <dd>The tiniest piecies, mostly primitive in their functionality.</dd>

      <dt>Compound</dt>
      <dd>Shallow containers whose purpose is to serve as building blocks to <i>Elements</i>.</dd>

      <dt>Elements</dt>
      <dd>Ready to use components that act in a similar fashion to html elements.</dd>
    </dl>

    <h3>References</h3>
    <ul>
      <li>Frost, B. (2016). <i>Atomic Design</i>. Chapter 2: Atomic Design Methodology - Atoms, molecules, organisms, templates, and pages. <a href="http://atomicdesign.bradfrost.com/chapter-2/">http://atomicdesign.bradfrost.com/chapter-2/</a></li>
      <li>Haz, D. (2018). <i>Introducing the Single Element Pattern</i>. <a href="https://medium.freecodecamp.org/introducing-the-single-element-pattern-dfbd2c295c5d">https://medium.freecodecamp.org/introducing-the-single-element-pattern-dfbd2c295c5d</a></li>
    </ul>
  </article>
</section>