<ol class="breadcrumbs">
  <li>Terminology</li>
  <li>Component Classification</li>
</ol>

<h2>Component Classification</h2>

<dl>
  <dt>Presentational Component</dt>
  <dd>blubb</dd>

  <dt>Contextual Component</dt>
  <dd>bla</dd>

  <dt>Container Component</dt>
  <dd>foo</dd>

  <dt>Composable Component</dt>
  <dd>aka. High order Component (HoC)</dd>
</dl>

<h3>References</h3>

<ul>
  <li>Kwaśniak, M. (2018). <i>Components patterns in Ember.js</i>. <a href="https://medium.com/macsour/components-patterns-in-ember-js-5e6fc6eea28f">https://medium.com/macsour/components-patterns-in-ember-js-5e6fc6eea28f</a>.</li>
</ul>