<header>
  <h1>Shiny Components</h1>
  <p>Design Patterns and Best Practices for Components in Ember</p>
</header>

<nav>
  <ul>
    <li class="section">Terminology</li>
    <li>{{#link-to 'terminology.classification'}}Component Classification{{/link-to}}</li>
    <li class="section">Patterns</li>
    <li>{{#link-to 'patterns.high-order-components'}}High-Order-Components{{/link-to}}</li>
    <li class="topic">{{#link-to 'patterns'}}Composite{{/link-to}}</li>
    <li>{{#link-to 'patterns.inheritance'}}Inheritance{{/link-to}}</li>
    <li>{{#link-to 'patterns.composition'}}Composition{{/link-to}}</li>
    <li class="topic">{{#link-to 'patterns.dom-api'}}DOM API{{/link-to}}</li>
    <li>Loosly Coupled</li>
    <li>Strongly Coupled</li>
    <li class="section">Best Practices</li>
    <li>{{#link-to 'best-practices.sparkles'}}Sparkles{{/link-to}}</li>
    <li>Singel</li>
  </ul>

</nav>

<main>
  {{outlet}}
</main>



