<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<h3>Modal (Inheritance)</h3>

<h4>ModalInheritance (block)</h4>
<ModalInheritance>
  bla
</ModalInheritance>


<h4>ModalInheritance (block params)</h4>
<ModalInheritance as |modal|>
  <modal.header>
    header
  </modal.header>

  <modal.body>
    body
  </modal.body>
</ModalInheritance>

<h4>ModalDialogInheritance (block)</h4>

<ModalDialogInheritance @open={{true}}>
huhu
</ModalDialogInheritance>


<h4>ModalDialogInheritance (block params)</h4>
<ModalDialogInheritance as |modal|>
  <modal.header>
    header
  </modal.header>

  <modal.body>
    body
  </modal.body>
</ModalDialogInheritance>