<header>
  <h1>Shiny Components</h1>
  <p>Design Patterns and Best Practices for Components in Ember</p>
</header>

<nav>
  <p>Patterns</p>
  {{#link-to 'inheritance'}}Inheritance{{/link-to}}

  <p>Best Bractices</p>
  {{#link-to 'sparkles'}}Sparkles{{/link-to}}
</nav>

<main>
  {{outlet}}
</main>



