<header>
  <h1>Shiny Components</h1>
  <p>Design Patterns and Best Practices for Components in Ember</p>
</header>

<nav>
  <ul>
    <li class="section">Best Practices</li>
    <li>{{#link-to 'best-practices.sparkles'}}Sparkles{{/link-to}}</li>
    <li>{{#link-to 'best-practices.singel'}}Singel{{/link-to}}</li>
    <li>{{#link-to 'best-practices.component-classification'}}Component Classification{{/link-to}}</li>
    <li>{{#link-to 'best-practices.naming-conventions'}}Naming Conventions{{/link-to}}</li>

    <li class="section">Patterns</li>
    <li class="topic">{{#link-to 'patterns.component-types'}}Component Types{{/link-to}}</li>
    <li>{{#link-to 'patterns.component-types.presentational-components'}}Presentational Components{{/link-to}}</li>
    <li>{{#link-to 'patterns.component-types.contextual-components'}}Contextual Components{{/link-to}}</li>
    <li>{{#link-to 'patterns.component-types.container-components'}}Container Components{{/link-to}}</li>
    <li>{{#link-to 'patterns.component-types.high-order-components'}}High-Order-Components{{/link-to}}</li>
    <li class="topic">{{#link-to 'patterns'}}Composites{{/link-to}}</li>
    <li>{{#link-to 'patterns.composites.inheritance'}}Inheritance{{/link-to}}</li>
    <li>{{#link-to 'patterns.composites.composition'}}Composition{{/link-to}}</li>
    <li class="topic">{{#link-to 'patterns.dom-api'}}DOM API{{/link-to}}</li>
    <li>Loosly Coupled</li>
    <li>Strongly Coupled</li>
  </ul>
</nav>

<main>
  {{outlet}}
</main>