<section class="demo">
  <header>
    <ol class="breadcrumbs">
      <li>Patterns</li>
      <li>Composites</li>
      <li>Inheritance</li>
    </ol>

    <h2>Inheritance</h2>
  </header>

  <aside>
    <div class="summary">
      <h3>Summary</h3>

      <p>
        Use <LinkTo
        @route="patterns.composites.composition">composition</LinkTo> over
        inheritance.
      </p>
    </div>

    <div class="good">
      <h3>Pro</h3>

      <ul>
        <li>Works with ember components.</li>
        <li>Works with classic and pods layout.</li>
      </ul>
    </div>

    <div class="bad">
      <h3>Contra</h3>

      <ul>
        <li>Stops working with MU layout.</li>
      </ul>
    </div>
  </aside>

  <article>
    <h3>Agenda</h3>

    <ul>
      <li>Put all logic into the parent component</li>
      <li>Extend a child from the parent and adjust the specific logic</li>
      <li>Inherit templates from the parent; overwrite where necessary</li>
    </ul>

    <h3>Setup</h3>

    <p>Modal structure on the file system, using MU.</p>

    <CodeSnippet @name="inheritance/modal-structure.txt"/>

    <h4>Modal Component</h4>
    <Tabs as |tabs|>
      <tabs.Page @title="template.hbs">
        <CodeSnippet @name="ui/routes/patterns/composites/inheritance/-components/modal/template.hbs"/>
      </tabs.Page>

      <tabs.Page @title="component.ts">
        <CodeSnippet @name="ui/routes/patterns/composites/inheritance/-components/modal/component.ts"/>
      </tabs.Page>

      <tabs.Page @title="header.hbs">
        <CodeSnippet @name="ui/routes/patterns/composites/inheritance/-components/modal/header/template.hbs"/>
      </tabs.Page>

      <tabs.Page @title="body.hbs">
        <CodeSnippet @name="ui/routes/patterns/composites/inheritance/-components/modal/body/template.hbs"/>
      </tabs.Page>
    </Tabs>

    <h4>Modal Dialog Component</h4>
    <Tabs as |tabs|>
      <tabs.Page @title="template.ts">
        <CodeSnippet @name="ui/routes/patterns/composites/inheritance/-components/modal-dialog/template.ts"/>
      </tabs.Page>

      <tabs.Page @title="component.ts">
        <CodeSnippet @name="ui/routes/patterns/composites/inheritance/-components/modal-dialog/component.ts"/>
      </tabs.Page>

      <tabs.Page @title="header.hbs">
        <CodeSnippet @name="ui/routes/patterns/composites/inheritance/-components/modal-dialog/header/template.hbs"/>
      </tabs.Page>
    </Tabs>



    <h3>Tests</h3>

    <h4>Modal (block)</h4>
    <Tabs as |tabs|>
      <tabs.Page @title="template.hbs">
        <CodeSnippet @name="inheritance/modal-block.hbs"/>
      </tabs.Page>

      <tabs.Page @title="Result">
        <Modal>
          bla
        </Modal>
      </tabs.Page>
    </Tabs>

    <h4>Modal (block params)</h4>
    <Tabs as |tabs|>
      <tabs.Page @title="template.hbs">
        <CodeSnippet @name="inheritance/modal-block-params.hbs"/>
      </tabs.Page>

      <tabs.Page @title="Result">
        <Modal as |modal|>
          <modal.Header>
            header
          </modal.Header>

          <modal.Body>
            body
          </modal.Body>
        </Modal>
      </tabs.Page>
    </Tabs>

    <h4>ModalDialog (block)</h4>
    <Tabs as |tabs|>
      <tabs.Page @title="template.hbs">
        <CodeSnippet @name="inheritance/modal-dialog-block.hbs"/>
      </tabs.Page>

      <tabs.Page @title="Result">
        <ModalDialog @open={{true}}>
          huhu
        </ModalDialog>
      </tabs.Page>
    </Tabs>

    <h4>ModalDialog (block params)</h4>
    <Tabs as |tabs|>
      <tabs.Page @title="template.hbs">
        <CodeSnippet @name="inheritance/modal-dialog-block-params.hbs"/>
      </tabs.Page>

      <tabs.Page @title="Result">
        <ModalDialog as |modal|>
          <modal.Header>
            header
          </modal.Header>

          <modal.Body>
            body
          </modal.Body>
        </ModalDialog>
      </tabs.Page>
    </Tabs>

    <h3>Results</h3>
    <ul>
      <li>✅ Put all logic into the parent component</li>
      <li>✅ Extend a child from the parent and adjust the specific logic</li>
      <li>❌ Inherit templates from the parent; overwrite where necessary</li>
    </ul>
  </article>
</section>