<div>
  <ul local-class="tabbar">
    {{#each this.pages as |page|}}
      <li local-class={{if (eq this.activePage page) 'active'}} {{on "click" (bind this.activate page)}}>{{page.title}}</li>
    {{/each}}
  </ul>

  <div local-class="tabcontainer">
    {{yield (hash
      Page=(component 'page' parent=this)
    )}}
  </div>
</div>